h1 {
    padding: 15px;
    color: darkgreen;
    background-color: cornflowerblue;
    border-radius: 10px;
}

h2 {
    margin: 0px;
    color: navy;
    background-color: cornflowerblue;
}

#rickroll {
    border: 15px solid cornflowerblue;
    border-radius: 10px;
}

#lyrics {
    margin-top: 15px;
    width: 300px;
    height: 240px;
    color: navy;
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 10px;
}

body {
     background-color: forestgreen;
}