.author {
    font-style: italic;
}

.message {
    background-color: lime;
    border-radius: 3px;
    padding: 6px 10px;
}

#messages {
    padding: 5px 15px;
    background-color: cornflowerblue;
    border-radius: 5px;
    color:darkblue;
}
